:root {
  font-family: sans-serif;
  background-color: white;
  --cadet-blue: #5ab1bb;
  --pistachio: #a5c882;
  --deepSpace: #4e6766;
  --kombuGreen: #313715;
}
#pageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 30px;
}
#pageHeader {
  font-size: 2.8rem;
}
.inputHeader {
  font-size: 2rem;
}
.eduContainer,
.jobContainer,
.personalInfoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 10px;
  background-color: var(--cadet-blue);
  width: 600px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  border-radius: 15px;
}
.personalInfoContainer {
  grid-template-rows: 1fr 1fr 5px;
}
.eduContainer {
  grid-auto-rows: 0;
}
.jobContainer {
  grid-template-rows: repeat(4, auto);
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.inputContainer > :nth-child(1) {
  font-size: 1.3rem;
}
.input {
  height: 25px;
  border-radius: 15px;
  border: none;
  font-size: 1.2rem;
  padding: 5pt;
  padding-left: 8pt;
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: left;
}
#descriptionContainer {
  grid-column: 1/-1;
}
.description {
  resize: none;
  height: 50px;
}
.deleteBtn {
  width: 150px;
  height: 35px;
  border-radius: 15px;
  border: none;
  padding: 0;
  background-color: lightcoral;
  font-weight: bold;
  font-size: 1.1rem;
}
.deleteBtn:hover {
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: red;
}

.addMoreBtn,
#submitBtn {
  border-radius: 15px;
  border: none;
  width: 260px;
  background-color: var(--pistachio);
  font-weight: bold;
  padding: 15px;
  font-size: 1.1em;
}

.addMoreBtn:hover {
  background-color: #77915d;
  color: white;
  cursor: pointer;
}

#submitBtn {
  background-color: #578aff;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 30px;
}
#submitBtn:hover {
  background-color: #2564f7;
  color: white;
  cursor: pointer;
}

#interviewSVG {
  position: sticky;
  top: 0;
}
