.eduContainer,
.jobContainer,
.personalInfoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 10px;
  background-color: wheat;
  width: 600px;
  padding: 10px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.personalInfoContainer {
  grid-template-rows: 1fr 1fr 5px;
}
.eduContainer {
  grid-auto-rows: 0;
}
.jobContainer {
  grid-template-rows: repeat(4, auto);
}
.inputContainer {
  display: flex;
  flex-direction: column;
}
.input {
  height: 25px;
  border-radius: 15px;
  border: none;
  font-size: 1.2rem;
  padding: 5pt;
  padding-left: 8pt;
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: left;
}
#descriptionContainer {
  grid-column: 1/-1;
}
.description {
  resize: none;
  height: 50px;
}
.deleteBtn {
  width: 150px;
  height: 35px;
  border-radius: 15px;
  border: none;
  padding: 0;
  background-color: lightcoral;
  font-weight: bold;
  font-size: 1.1rem;
}
.deleteBtn:hover {
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: red;
}
